/* ------------------------- 
        Slider
---------------------------*/
/*      Left slider     */
#slide-panel-left {
    float:left;
    width:500px;
    height:600px;
    padding:10px;
    background:#eee;
    margin-left:-500px;
    margin-top: 50px;
    opacity: 0.9;
}
#lefttoggle {
    float:right;
    margin:50px -50px 0px 0px;
    border-radius:0;
    position: static;
    z-index: 1;
}


/*      right slider    */
#slide-panel-layer {
    width:300px;
    float: right;
    /*height:300px;*/
    padding:10px;
    background:#eee;
    margin-right:-300px;
    margin-top: 50px;
    opacity: 0.9;
    position: static;
    z-index: 1;
}
#layertoggle {
    float:left;
    margin:50px 0px 0px -50px;
    border-radius:0;
    position: fixed;
    z-index: 1;
}

#querytoggle {
    float:left;
    margin:20px 0px 0px -50px;
    border-radius:0;
    position: fixed;
    z-index: -1;
}

#slide-panel-query {
    width:300px;
    float: right;
    height:300px;
    padding:10px;
    background:#eee;
    margin-right:-300px;
    margin-top: 20px;
    opacity: 0.9;
    position: sticky;
    z-index: -10;
}

html,body {
    overflow-x: hidden;
    /*overflow-y: hidden;*/
    height: 100%;
} 

/* ------------------------- 
        full width div
---------------------------*/
.container{
    height: 100%;
}
.fill{
    height: 100%;
    min-height: 100%;
    width: 100%;
    background-size: cover;
}
/* ------------------------- 
        Open Layer
---------------------------*/
.map {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 0;
}

/* ZoomSlider */
#map .ol-zoomslider{
  top: 10px;
  left: auto;
  right: 8px;
  background-color: rgba(0,69,100,0.2);
  width: 200px;
  height: 15px;
  padding: 0;
  box-shadow: 0 0 5px rgb(0,69,100);
  
}

#map .ol-zoomslider:hover {
  background-color: rgba(0,69,100,0.3);
}

#map .ol-zoomslider-thumb {
  height: 25px;
  width: 10px;
  margin: -5px 0px 0px 0px;
  filter: none;
  background-color: rgba(0,69,100,0.6);
  border-radius: 5px;
}

#map a.ol-zoomslider-handle:hover {
  background-color: rgba(0,69,100,0.7);
}

/* ------------------------- 
        Accordion
---------------------------*/
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }

/* ------------------------- 
        Checkbox
---------------------------*/

.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}
